body {
  cursor: none;
}

.one {
  text-align: justify;
  font-size: 250px;
  position: relative; 
  font-family: youngserif;
  color: blue;
  line-height: 200px; 
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.two {
  text-align: justify;
  position: absolute;
  font-size: 150px;
  position: relative; 
  font-family: youngserif;
  color: black;
  line-height: 125px;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.three {
  text-align: justify;
  position: absolute;
  font-size: 120px;
  font-family: youngserif;
  color: blue;
  line-height: 100px;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.four {
  text-align: justify;
  position: relative;
  font-size: 90px;
  font-family: youngserif;
  color: black;
  line-height: 80px;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;

}

.five {
  text-align: justify;
  position: absolute;
  font-size: 70px; 
  font-family: youngserif;
  color: blue;
  line-height: 70px;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.six {
  text-align: justify;
  position: absolute;
  font-size: 17px;
  font-family: youngserif;
  color: black;
  cursor: move;
  display: none;
}

.seven {
  text-align: justify;
  position: absolute;
  font-size: 12px;
  font-family: youngserif;
  color: blue;
  cursor: move;
  line-height: 15px;
  display: none;
}

.titleone {
  position: absolute;
  font-weight: bold;
  font-size: 20px;
  position: relative; 
  font-family: youngserif;
  color: blue;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;

}

.title {
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  position: relative; 
  font-family: youngserif;
  color: black;
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;

}

.nine {
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.nine:hover {
  overflow: scroll;
  background-image: url(imaged.png);
  display: block;
}

.ten {
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;  
}

.ten:hover {
  overflow: scroll;
  background-image: url(imagec.png);
  display: block;
}

.eleven {
  cursor: move;
  position: absolute;
  margin-top: 200px;
  margin-left: 520px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  display: none;
}

.eleven:hover {
  overflow: scroll;
  display: block;
  background-image: url(imageb.png);
}

.cursor {
	   width: 270px;
  	height: 240px;
  	position: absolute;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-image: url(http://vignette4.wikia.nocookie.net/inciclopedia/images/a/a5/X.png);
    -webkit-animation-name: flash;
  	animation-name: flash;
  	animation-duration: 1.5s;
  	animation-iteration-count: infinite;

}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0433ff;
  border: 0px solid #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0096ff;
}
::-webkit-scrollbar-thumb:active {
  background: #0433ff;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;


 -webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
}