body {
  cursor: none;
  color: black;
}

.one {
  text-align: justify;
  font-size: 250px;
  position: relative; 
  font-family: libre;
  color: black;
  line-height: 100%; 
  cursor: move;
  padding-top: 10px;
  padding-left: 10px;
  position: absolute;
  margin-top: 170px;
  margin-left: 710px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  
}

.one:hover {
  background-color: white;
  z-index: 100;

}

.two {
  text-align: justify;
  position: absolute;
  font-size: 120px;
  padding-top: 10px;
  padding-left: 10px;
  position: relative; 
  font-family: libre;
  color: black;
  line-height: 100%;
  cursor: move;
  position: absolute;
  margin-top: 950px;
  margin-left: 820px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  
}

.two:hover {
  background-color: white;
  z-index: 100;
}

.three {
  text-align: justify;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 120px;
  font-family: libre;
  color: black;
  line-height: 100%;
  cursor: move;
  position: absolute;
  margin-top: 950px;
  margin-left: 200px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
  
}

.three:hover {
  background-color: white;
  z-index: 100;
}

.four {
  text-align: justify;
  position: relative;
  font-size: 70px;
  padding-top: 10px;
  padding-left: 10px;
  font-family: libre;
  color: black;
  line-height: 100%;
  cursor: move;
  position: absolute;
  margin-top: 290px;
  margin-left: 250px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
}

.four:hover {
  background-color: white;
  z-index: 100;
}

.five {
  text-align: justify;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 70px; 
  font-family: libre;
  color: black;
  line-height: 100%;
  cursor: move;
  position: absolute;
  margin-top: -140px;
  margin-left: 980px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;
}

.five:hover {
  background-color: white;
  z-index: 100;
}

.six {
  text-align: justify;
  position: absolute;
  font-size: 50%;
  font-family: libre;
  color: black;
  cursor: move;
  line-height: 120%;
  
}


.seven {
  text-align: justify;
  position: absolute;
  font-size: 50%;
  font-family: libre;
  color: black;
  cursor: move;
  line-height: 100%;
  
}

.titleone {
  position: absolute;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 200%;
  position: relative; 
  font-family: libre;
  color: black;
  cursor: move;
  position: absolute;
  margin-top: 630px;
  margin-left: 530px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto; 

}

.titleone:hover {
  background-color: white;
  z-index: 100;
}

.title {
  position: absolute;
  font-weight: bold;
  font-size: 200%;
  padding-top: 10px;
  padding-left: 10px;
  position: relative; 
  font-family: libre;
  color: black;
  cursor: move;
  position: absolute;
  margin-top: 800px;
  margin-left: 1250px;
  border: blue 2px solid;
  width: 350px;
  height: 400px;
  overflow: auto;

}

.title:hover {
  background-color: white;
  z-index: 100;
}

.nine {
  cursor: move;
  position: absolute;
  margin-top: 30px;
  margin-left: 40px;
  border: blue 2px solid;
  width: 360px;
  height: 410px;
  overflow: auto;
  background-image: url(imaged.png);
  
}

.nine:hover {
  overflow: scroll;
  background-color: white;
  z-index: 100;
  
}

.ten {
  cursor: move;
  position: absolute;
  margin-top: 660px;
  margin-left: -60px;
  border: blue 2px solid;
  width: 360px;
  height: 410px;
  overflow: auto;
  background-image: url(imagec.png);
  
}

.ten:hover {
  overflow: scroll;
  background-color: white; 
  z-index: 100;
}

.eleven {
  cursor: move;
  position: absolute;
  margin-top: 500px;
  margin-left: 980px;
  border: blue 2px solid;
  width: 360px;
  height: 410px;
  overflow: auto;
  background-image: url(imageb.png);
}

.eleven:hover {
  overflow: scroll;
  z-index: 100;
  background-color: white;
  
}

.cursor {
	   width: 270px;
  	height: 240px;
  	position: absolute;
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-image: url(http://vignette4.wikia.nocookie.net/inciclopedia/images/a/a5/X.png);
    -webkit-animation-name: flash;
  	animation-name: flash;
  	animation-duration: 1.5s;
  	animation-iteration-count: infinite;

}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #0433ff;
  border: 0px solid #000000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #0096ff;
}
::-webkit-scrollbar-thumb:active {
  background: #0433ff;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;


 -webkit-animation: flash linear 1s infinite;
	animation: flash linear 1s infinite;
}
@-webkit-keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; } 
	50% { opacity: .1; } 
	100% { opacity: 1; }
}
}